<h1 class="text-center my-4">登入頁面</h1>
<%= form_with(url: login_users_path, method: :post, class: "needs-validation") do |form| %>
<div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: "請輸入您的信箱" %>
</div>
<div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "請輸入您的密碼" %>
</div>
<div class="d-grid gap-2">
    <%= form.submit "登入", class: "btn btn-primary" %>
    <a href="/users" class="btn btn-primary text-center">註冊</a>
</div>
<% end %>
