<h1>我的看板</h1>
<% if notice %>
    <%= notice %>
<% end %>

<%= link_to new_project_path do %>
    <span>新增看板</span>
<% end %>
<% current_user.projects.each do |project| %>
    <%= link_to project_path(project) do %>
        <h5><%= project.name %></h5>
        <p><%= project.description %></p>
    <% end %>
<% end %>