<h1><%= @project.name %></h1>
<% @lanes.each do |lane| %>
    <h2><%= lane.name %></h2>
    <ul>
        <% lane.tasks.each do |task| %>
            <li>
                <%= task.name %>
                <%= button_to "刪除", project_task_path(@project, task), method: :delete %>
            </li>
        <% end %>
    </ul>
    <%= form_with(url: project_tasks_path(@project), method: :post) do |form| %>
        <%= form.hidden_field "task[lane_id]", value: lane.id %>
        <%= form.text_field "task[name]", placeholder: "新增任務" %>
        <%= form.submit "新增" %>
    <% end %>
<% end %>
<%= button_to "刪除專案", project_path(@project), method: :delete %>